# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
venv/
env/

# Flask instance (DB + secrets)
instance/
!instance/.gitkeep

# DB (SQLite)
*.db
*.sqlite3

# Env files (Secrets)
.env
.env.*

# Tests / coverage
.pytest_cache/
.coverage
htmlcov/

# Build / packaging
build/
dist/
*.egg-info/

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
*.swp

