.start-grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items:start;
  }

  @media (max-width: 900px){
  .start-grid{ grid-template-columns:1fr; }
 }

  .listbox{
    width:100%;
    height:auto;
    min-height:210px;
    border:1px solid #bbb;
    background:#fff;
    padding:2px;
  }

  .row{ display:flex; }
  .col{ display:flex; flex-direction:column; }
  .gap{ gap:.6rem; margin-top:.6rem; }

  button{
    padding:.45rem .8rem;
    border:1px solid #bdbdbd;
    background:#efefef;
    cursor:pointer;
  }
  button:hover{ background:#e3e3e3; }

  .last-box{
    border:1px solid #000;
    padding:.5rem .6rem;
    margin-top:.4rem;
    background:#fff;
  }
  .kv{
    display:grid;
    grid-template-columns: 8rem 1fr;
    row-gap:.25rem;
    column-gap:.75rem;
    font-size:.95rem;
  }

  .center{ text-align:center; margin-top:2rem; }
  .big{
    padding:.9rem 2.2rem;
    border:1px solid #000;
    background:#efefef;
    font-size:1rem;
  }